* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;

  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  background: var(--light-purple);

  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* =============== home ================== */

.home {
  width: 100%;
  padding-top: 6.4rem;
  background: var(--purple-bg);
  border-bottom: 6px solid var(--green);
}

.home header {
  width: 81%;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 6.4rem;

  position: relative;
}

.home .logo img {
  width: fit-content;
}

.home nav ul {
  list-style: none;
  width: 34.8rem;

  display: flex;
  justify-content: space-between;

  position: relative;
}

.home nav ul li:first-child a::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 17px;
  left: -4px;
  top: 1px;
  background: var(--green);
}

.home nav ul li:first-child a {
  font-weight: bold;
}

.home nav ul li a {
  font-size: 1.8rem;
  color: var(--white);
}

.home .search {
  width: fit-content;
  height: 44px;

  display: flex;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.home .search #text {
  width: 23rem;
  border: none;
  padding-left: 25.65px;
  color: var(--white);
  background: var(--dark-bg);
}

.home .search #text:focus {
  outline: none;
}

.home .search button {
  width: 7rem;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  background: var(--button-bg);
  cursor: pointer;
}

.home .menuToggle {
  display: none;
}

.home .content {
  width: 81%;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;

  margin-bottom: 6.9rem;
}

.home .content div {
  width: 50%;
}

.home .content div h1 {
  font: 700 3.6rem 'Poppins', sans-serif;
  color: var(--button-bg);
  line-height: 54px;

  margin-bottom: 16px;
}

.home .content div p {
  width: 83%;
  font-size: 1.8rem;
  line-height: 27px;
  color: var(--light-purple);

  margin-bottom: 2.4rem;
}

.home .content div a {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 1.8rem;
  font-weight: bold;
  color: var(--button-bg);
}

.home .content img:nth-child(2) {
  width: 50%;
  padding-left: 25px;

  max-height: 307px;
}

/* ================ main ================ */
main {
  width: 81%;
  margin-inline: auto;

  margin-top: 6.4rem;
}

main .principalContainer {
  display: flex;
  justify-content: space-between;

  margin-bottom: 63.79px;
}

main .principalPost {
  width: 50%;
}

main .principalPost img {
  width: 100%;
}

main .principalPost .postDate {
  margin: 15.97px 0;
}

main .principalPost .postTitle {
  margin-bottom: 15.97px;
}

main .principalPost .subtitle {
  width: 100%;
}

/* ============== main sidePost ============ */

main .sidePost {
  width: 40%;
}

main .sidePost .postDate, 
main .sidePost .postTitle {
  margin-bottom: 8px;
}

main .sidePost div:nth-child(1) .postTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

main .sidePost div:nth-child(1) {
  margin-bottom: 48.55px;
}

/* ============== container ================= */
main .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;

  margin-bottom: 67.58px;
}

main .container .post {
  width: 90%;
}

main .container .post img {
  width: 100%;
}

main .container .post .postDate {
  margin-top: 15.97px;
  margin-bottom: 8px;
}

main .container .post .postTitle {
  margin-bottom: 8px;
}

/* =========== classes globais ============ */
main .postDate {
  font-size: 1.6rem;
  color: #000000;
}

main .postTitle {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--purple-bg);
  line-height: 36px;

  cursor: pointer;
}

main .subtitle {
  font-size: 1.6rem;
  line-height: 24px;
  color: #000000;
}

/* ============== responsividade ============= */
@media (max-width: 1200px) {
  nav {
    display: none;
  }

  .home .search {
    margin-right: 70px;
  }

  .home .menuToggle {
    display: initial;
    width: 40px;
    
    top: 0;
    right: 0px;
    
    position: absolute;
    cursor: pointer;
  }

  .one,
  .two,
  .three {
    width: 100%;
    height: 5px;

    margin: 7px auto;
    background: #FFF;
    border-radius: 3px;

    transition-duration: 0.3s;
  }

  /* ========= menu section on */
  .menuSection.on {
    position: absolute;
    top: 54px;
    right: 0;

    width: 300px;
    box-shadow: 11px 15px 29px -15px rgba(0,0,2,0.65);
    transition: .3s ease-in-out;
  }

  .menuSection.on .menuToggle {
    position: absolute;
    right: 0;
    top: -53px;
  }

  .menuSection.on .menuToggle .one {
    transform: rotate(45deg) translate(3px, 7px);
    border-radius: 2px;
  }

  .menuSection.on .menuToggle .two {
    opacity: 0;
  }

  .menuSection.on .menuToggle .three {
    transform: rotate(-45deg) translate(9px, -14px);
    border-radius: 2px;
  }

  .menuSection.on nav {
    display: initial;
  }

  .menuSection.on ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0;

    width: initial;
    height: 100%;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--button-bg);

    animation: fromTop .5s;
  }

  @keyframes fromTop {
    from {
      transform: translateY(-10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .menuSection.on ul li {
    padding: 20px 0;
    padding-left: 30px;
    transition: .3s ease-in-out;

    cursor: pointer;
  }

  .menuSection.on ul li:hover {
    background:#BA94D1;
  }

  .menuSection.on ul li a{
    font-size: 2.3rem;
    transition: .3s ease-in-out;
  }

  .menuSection.on ul li:hover a {
    font-weight: bold;
  }

  .home nav ul li:first-child a::before {
    display: none;
  }
}

@media (max-width: 990px) {
  .home .content {
    flex-direction: column;
  }

  .home .content img:nth-child(2) {
    order: -1;
    width: 100%;
    max-width: 574px;
    margin-inline: auto;
    margin-bottom: 30px;

    padding-left: initial;
    max-height: initial;
  }

  .home .content div {
    width: 90%;
    text-align: center;
    margin-inline: auto;
  }

  .home .content div p {
    width: 90%;
    margin-inline: auto;
  }

  .home .content div a {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .home header .search button {
    width: 5rem;
    border-radius: 50%;
    transition: .3s ease-in-out;
  }

  .home .search #text {
    display: none;
  }

  /* ============== search on =============== */
  .home .search.on {
    width: 100%;
    max-width: 30rem;

    margin-right: 50px;
  }
  
  .home .search.on #text{
    display: initial;
    width: 100%;
    max-width: 23rem;
  }

  .home .search.on button {
    max-width: 7rem;
    border-radius: initial;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  /* ============ main ============= */
  main .principalContainer{
    flex-direction: column;
    align-items: center;
  }

  main .principalPost,
  main .sidePost {
    width: 90%;
  }

  main .sidePost {
    margin-top: 50px;
  }

  main .postTitle,
  main .subtitle {
    text-align: justify;
  }
}

@media (max-width: 757px) {
  main .container {
    place-items: center;
  }
}

@media (max-width: 500px) {
  .home header {
    align-items: end;
  }

  .home header .search {
    margin-right: 55px;
  }

  .home header .search button {
    width: 4rem;
    height: 4rem;
  }

  .home header .search button img {
    width: 20px;
  }

  .home .content div {
    width: initial;
  }

  .home .content div h1 {
    font-size: 2.5rem;
    line-height: initial;
  }

  .home .content div p {
    width: initial;
    margin-inline: initial;
    font-size: 1.6rem;
  }

  .menuSection.on {
    width: 230px;
  }

  main {
    width: 90%;
  }

  main .postTitle {
    text-align: left;
  }
}

@media (max-width: 400px) {
  .home header .search {
    margin-right: 49px;
  }

  .home .logo img {
    width: 85%;
  }

  .home .menuSection.on .menuToggle {
    top: -50px;
  }

  .home .menuToggle {
    width: 35px;
  }
}

@media (max-width: 350px) {
  .home header .search button {
    width: 4rem;
    height: 4rem;
  }

  .home header .search button img {
    width: 20px;
  }

  .menuSection.on {
    width: 200px;
  }

  .menuSection.on ul li a {
    font-size: 2rem;
  }

  main {
    width: 95%;
  }
}